@model VideoModel

@{
    ViewData["Title"] = "Create";
}

<h4>Yayın Ekle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if(TempData["Error"]!=null)
            {
        <div class="text-danger">@TempData["Error"]</div>

            }
            <div class="form-group">
                <label asp-for="yayinAdi" class="control-label"></label>
                <input asp-for="yayinAdi" class="form-control" />
                <span asp-validation-for="yayinAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yayinLink" class="control-label"></label>
                <input asp-for="yayinLink" class="form-control" />

                <span asp-validation-for="yayinLink" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

